---
import Layout from "../layouts/Layout.astro";
import { RepresentativeResults } from "@/components/RepresentativeResults";
import { getRepresentatives } from "@/lib/google-civic";
import { parseLocation } from "parse-address";

const address = Astro.params.location;
export const prerender = false;

// cheaty but prevents abuse
if (!address || address.length < 10)
    throw new Error("Location parameter is missing");
const parsedAddress = parseLocation(address);
if (!parsedAddress.city || !parsedAddress.state) {
    throw new Error("Invalid location parameter");
}

const data = await getRepresentatives(address);
---

<Layout>
    <div class="max-w-4xl mx-auto">
        <RepresentativeResults data={data} client:idle />
    </div>
</Layout>
