---
import Layout from "../layouts/Layout.astro";
import { SearchForm } from "@/components/SearchForm";
import { RepresentativeResults } from "@/components/RepresentativeResults";
import { Info } from "lucide-react";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <header class="flex justify-end gap-4 mb-8">
            <a href="#readme" class="flex items-center gap-1">
                <Info size={22} />
                About
            </a>
        </header>

        <main>
            <h1 class="text-5xl font-bold text-center text-gray-800 mb-8">
                My Reps
            </h1>

            <div class="mb-12">
                <p class="text-xl text-center mb-6">
                    Enter your address to <span class="font-medium"
                        >find and contact</span
                    > your federal, state, county and local elected representatives
                </p>

                <SearchForm client:load />
            </div>

            <RepresentativeResults client:load />
        </main>

        <footer class="mt-8 text-center text-gray-600 text-sm" id="readme">
            <p>
                Note: Data comes from the{" "}
                <a href="https://docs.openstates.org/"> Open States API.</a>
            </p>
        </footer>
    </div>
</Layout>
