---
import { ManualSearchForm } from "@/components/ManualSearchForm";
import { SearchForm } from "@/components/SearchForm";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>My Reps | Contact your representatives</title>
        <script
            defer
            is:inline
            src="https://cloud.umami.is/script.js"
            data-domains="myreps.org"
            data-website-id="5225a920-8c86-4d2d-bc3a-3750e533cb95"></script>
    </head>
    <body>
        <div class="container mx-auto px-4 py-8">
            <main>
                <h1 class="text-5xl font-bold text-center text-gray-800 mb-8">
                    My Reps
                </h1>

                <div class="mb-12">
                    <p class="text-xl text-center mb-6">
                        Enter your address to <span class="font-medium"
                            >find and contact</span
                        > elected representatives
                    </p>

                    <!-- <ManualSearchForm client:only="react" /> -->
                    <SearchForm client:only="react" />
                </div>

                <slot />
            </main>
        </div>
    </body>
</html>

<script>
    if (window.location.host !== "myreps.org")
        localStorage.setItem("umami.disabled", "1");
</script>
